html {
    scroll-behavior: smooth;
}

.nav-link {
    position: relative;
    display: inline-block;
    padding-bottom: 5px;
    color: inherit;
    text-decoration: none;
}
  
.nav-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    margin-top: 5px;
    right: 0;
    background: white;
    transition: width 0.4s ease;
    -webkit-transition: width 0.5s ease;
}
  
.nav-link:hover::after {
    width: 100%;
    left: 0;
    background: #FFFFFF;
}

.button-zoom {
    transition: transform 0.3s ease;
}

.button-zoom:hover {
    transform: scale(1.1);
}

.vote-now-button {
    transition: color 0.4s, background-color 0.4s;
}
  
.vote-now-button:hover {
    color: #FFFFFF;
    background-color: #0f172a;
}

.back-next-button {
    transition: transform 0.3s ease;
}

.back-next-button:hover {
    transform: scale(1.1);
}

.submit-button {
    transition: color 0.4s, background-color 0.4s;
}

.submit-button:hover {
    color: #FACC15;
    background-color: #0f172a;
}

.faq-container {
    cursor: pointer;
    border-radius: 9999px;
    overflow: hidden;
    max-height: 60px;
    transition: border-radius 0s ease, max-height 6s ease;
}

.faq-container:hover {
    border-radius: 1.5rem;
    max-height: 9999px;
}

.faq-container .point-img {
    transition: rotate 0.3s ease;
}

.faq-container:hover .point-img {
    rotate: 90deg;
}
  
.faq-container .faq-answer {
    display: none;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: left;
}
  
.faq-container:hover .faq-answer {
    display: block;
    padding-bottom: 1rem;
}
  